<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Home page</h1> 
        <ul>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt a nulla doloremque mollitia molestiae, iste in ducimus architecto atque temporibus quaerat quis, quas incidunt tempore, quibusdam repellat nisi ullam consectetur?</li>
            <li>Obcaecati expedita aliquid eum neque ullam quidem illo, quod incidunt eos odit voluptatibus, similique maxime optio. Nihil ullam sed expedita. Libero tempore porro corrupti voluptatum dolorum nihil quos dolor consectetur.</li>
            <li>Quo ab commodi omnis porro nulla impedit, ad optio sint molestias cumque illum ipsa ipsum explicabo? Reprehenderit quaerat molestias porro iste assumenda voluptates adipisci voluptatibus, iure reiciendis blanditiis, doloremque eum!</li>
        </ul>
</body>
</html>
